= form_with(model: note, local: true) do |form|
  - if note.errors.any?
    #error_explanation
      h2
        = pluralize(note.errors.count, "error")
        |  prohibited this note from being saved:
      ul
        - note.errors.full_messages.each do |message|
          li
            = message
  .field
    = form.label :user_id
    = form.number_field :user_id, id: :note_user_id
  .field
    = form.label :event_dt
    = form.datetime_select :event_dt, id: :note_event_dt
  .field
    = form.label :notify_dt
    = form.datetime_select :notify_dt, id: :note_notify_dt
  .field
    = form.label :description
    = form.text_field :description, id: :note_description
  .actions
    = form.submit
